{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="width: 80vw;">
        <div class="row g-4 justify-contenet-center">
            <div class="col">
                <div class="card">
                    <div class="card-header align-middle">
                        <h5><strong>Statistics</strong></h5>
                    </div>
                    <div class="card-body">
                        Total Users: {{ userCount }}<br />
                        Total Storages: {{ storageCount }}<br />
                        Asset Count: {{ assetCount }}<br />
                        Collected Assets: {{ collectedAssetCount }}<br />
                        Total Repairs: {{ repairCount }}
                        <br /><br />
                        <strong>Active Users</strong><br />
                        {% if activeUsers|length > 0 %}
                            {% for user in activeUsers %}
                                {{ user.username }}{% if loop.last == false and activeUsers|length > 1 %},&nbsp;{% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col text-start"><h5><strong>Asset Counts</strong></h5></div>
                            <div class="col text-end">
                                <a href="#" class="text-decoration-none">
                                    <i class="fa-solid fa-file-lines"></i> Report
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ render_chart(assetsTotalChart) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-start"><h5><strong>Storage Sizes</strong></h5></div>
                                    <div class="col text-end">
                                        <a href="#" class="text-decoration-none">
                                            <i class="fa-solid fa-file-lines"></i>
                                            Report
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {# TODO numbers aren't adding up #}
                                {{ render_chart(storageSizeChart) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-start"><h5><strong>Repairs Per Month</strong></h5></div>
                                    <div class="col text-end">
                                        <a href="#" class="text-decoration-none">
                                            <i class="fa-solid fa-file-lines"></i>
                                            Report
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ render_chart(repairsPerMonthChart) }}
                            </div>
                        </div>
                    </div>
                </row>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
