{% extends 'layout.html.twig' %}
{% block body_content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Assets</h3>
                    <a href="javascript:void(0);">View Report</a>
                </div>
            </div>
            <div class="card-body">
                <div class="position-relative mb-4">
                    <div class="chart-container" style="height:70vh;">
                        <canvas id="assets-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-md-6 -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Storage Sizes</h3>
                    <a href="{{ path('app_report_assetsperstorage') }}">View Report</a>
                </div>
            </div>
            <div class="card-body">
                <div class="position-relative mb-4">
                    <canvas id="storageSizes-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->
{% endblock %}
{% block optional_javascript %}
{#<script src="{{ asset('bundles/adminlte/plugins/chart.js/Chart.min.js') }}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    $(function () {
        const $storageSizesChart = $('#storageSizes-chart');
        const $assetsChart = $('#assets-chart');

        var storageSizesChartData = [];
        {% for storageName, storageSize in storageSizes %}
            storageSizesChartData['{{ storageName }}'] = {{ storageSize }};
        {% endfor %}

        const storageSizesChart = new Chart($storageSizesChart, {
            type: 'bar',
            data: {
                labels: ['Storage Sizes'],
                datasets: [
                    {% for storageName, storageSize in storageSizes %}
                        {
                            label: '{{ storageName }}',
                            data: [{{ storageSize }}],
                        },
                    {% endfor %}
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });

        const assetsChart = new Chart($assetsChart, {
            type: 'doughnut',
            data: {
                labels: ['Total Assets', 'Assets Collected', 'Assets Decommissioned'],
                datasets: [
                    {
                        data: [{{ totalAssetsCount }}, {{ totalCollectedAssetsCount }}, {{ totalDecommissionedAssetsCount }}],
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });
    });
</script>
{% endblock %}