{# templates/admin/site_config/index.html.twig #}
{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="container">
        {{ form_start(adminSiteConfig) }}
            <div class="form-errors">
                {{ form_errors(adminSiteConfig) }}
            </div>
            <div class="row float-end">
                {{ form_widget(adminSiteConfig.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
            </div><br />
            <ul class="nav nav-pills nav-justified mt-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="company-info-tab-pane" aria-selected="true">Company Information</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="user-authentication-tab-pane" aria-selected="false">User Authentication</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="user-profiles-tab-pane" aria-selected="false">User Profiles</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="site-settings-tab-pane" aria-selected="false">Site Settings</button>
                </li>
            </ul>
            <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyName, 'Company Name', {'label_attr': {'class': 'col-sm-2 col-form-label required'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyMotto, 'Company Motto', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyMotto, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyAddress, 'Company Address', {'label_attr': {'class': 'col-sm-2 col-form-label required'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyAddress, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyPhone, 'Phone Number', {'label_attr': {'class': 'col-sm-2 col-form-label required'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyPhone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyFax, 'Fax Number', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyFax, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyFacebook, 'Facebook Page', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyFacebook, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyYoutube, 'YouTube Page', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyYoutube, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyTwitter, 'Twitter Page', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyTwitter, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(adminSiteConfig.companyInstagram, 'Instagram Page', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.companyInstagram, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="row">
                        <small class="text-muted">The Client ID and Secret Key must be configured in the environment config for security purposes.<br />
                        For now, only one or none may be selected at a time.</small>
                    </div>
                    <div class="form-group row form-switch">
                        {{ form_label(adminSiteConfig.useGoogleAuth, 'Google Authentication', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.useGoogleAuth, {'attr': {'class': 'form-check-input radio'}}) }}
                        </div>
                    </div>
                    <div class="form-group row form-switch">
                        {{ form_label(adminSiteConfig.useMicrosoftAuth, 'Microsoft Authentication', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.useMicrosoftAuth, {'attr': {'class': 'form-check-input radio'}}) }}
                        </div>
                    </div>
                    <div class="form-group row form-switch">
                        {{ form_label(adminSiteConfig.useNoExternalAuth, 'No Authentication', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.useNoExternalAuth, {'attr': {'class': 'form-check-input radio'}}) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <div class="form-group row form-switch">
                        {{ form_label(adminSiteConfig.allowUserEditProfile, 'Allow User Profile Editing', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.allowUserEditProfile, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                    <div class="form-group row form-switch">
                        {{ form_label(adminSiteConfig.allowManagerEditProfile, 'Allow Manager Profile Editing', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.allowManagerEditProfile, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                    Display Fields<br />Custom Fields
                </div>
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                    <div class="form-group row form-switch">
                        <small class="text-muted">Maintenance mode will prevent all but <b>administrators</b> from using the site.</small>
                        {{ form_label(adminSiteConfig.setMaintenanceModeEnabled, 'Maintenance Mode', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.setMaintenanceModeEnabled, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                    <div class="form-group row form-switch">
                        <small class="text-muted">When enabled, the Alert Message system will display a banner when an alert is posted.</small>
                        {{ form_label(adminSiteConfig.setAlertMessageEnabled, 'Alert Message System', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.setAlertMessageEnabled, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                    <div class="form-group row form-switch">
                        <small class="text-muted">When enabled, the first time a user attempts to login, an account will be created in pending status.</small>
                        {{ form_label(adminSiteConfig.setAllowUserRegistration, 'Allow User Registration', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(adminSiteConfig.setAllowUserRegistration, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                    <div class="row pt-2">
                        <small class="text-muted">SMTP Information is configured in the environment variables. (https://symfony.com/doc/current/mailer.html)
                    </div>
                </div>
            </div>
        {{ form_end(adminSiteConfig) }}
    </div>
{% endblock %}