{{ form_start(form) }}
    <div class="mb-3 form-floating">
        {{ form_widget(form.serial_number, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.serial_number) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.asset_tag, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.asset_tag) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.purchase_date, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.purchase_date) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.purchased_from, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.purchased_from) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.warranty_start_date, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.warranty_start_date) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.warranty_end_date, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.warranty_end_date) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.asset_condition, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.asset_condition) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.make, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.make) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.model, { 'attr': {'class': 'form-control' } }) }}
        {{ form_label(form.model) }}
    </div>
    <div class="mb-3 form-check">
        {{ form_widget(form.decommissioned, { 'choice_attr': { 'class': 'form-check-input' } }) }}
        {{ form_label(form.decommissioned, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-2 text-start">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
        <div class="col text-end">
            {% if app.request.attributes.get('_route') == 'app_asset_edit' %}
                {% include 'asset/_delete_form.html.twig' %}
            {% endif %}
        </div>
    </div>

{{ form_end(form) }}
