{% extends 'layout.html.twig' %}
{% block title %}Asset Checkin{% endblock %}
{% block header_title %}Asset Checkin{% endblock %}
{% block header_breadcrumb %}Asset{% endblock %}
{% block body_content %}
    <div class="row justify-content-center">
    <div class="col-auto">
    <table id="assetTable" class="table table-bordered table-striped dataTable dtr-inline display">
        <thead>
            <tr>
                <th class="all">Device</th>
                <th class="all">Assigned To</th>
                <th class="all">Collect</th>
            </tr>
        </thead>
        <tbody>
        {# TODO: Collect will toggle modal with Storage Render #}
            {% for asset in allAssets %}
                <tr>
                    <td class="text-center">{{ asset.uniqueIdentifier }}</td>
                    <td class="text-center">{{ asset.assignedUsersName ?: '<span class="badge border border-secondary text-secondary">Not Assigned</span>' }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal-checkin" data-assetId="{{ asset.id }}" data-asset="{{ asset.uniqueIdentifier }}" data-assignedUserId="{{ asset.assignedUserId }}" data-assignedUser="{{ asset.assignedUsersName }}">Collect</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    {# Check In Asset Modal #}
    <div class="modal fade" id="modal-checkin">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(form) }}
                    <input id="assignAssetId" type="hidden" name="assetId" value=""/>
                    <div class="modal-header">
                        <h4 class="modal-title">Assign User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pl-2">
                        <div class="row">Device: <span id="asset">{{ form_widget(form.device) }}</span></div>
                        <div class="row">Assigned User: <span id="assignedUser">{{ form_widget(form.user) }}</span></div>
                        <div class="row">Collection Location: <span id="assetCollectionLocation">{{ form_widget(form.location) }}</span></div>
                        <div class="row">Note: <span id="assetCollectionNotes">{{ form_widget(form.notes) }}</span></div>
                        {{ form_widget(form.userId) }}
                        {{ form_widget(form.assetId) }}
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(form.Collect) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {# ./checkInAssetModal #}
{% endblock %}

{% block head_custom_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block head_custom_javascript %}
<script charset="utf8" src="{{ asset('bundles/DataTables/datatables.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Set the DataTable
        var table = $('#assetTable').DataTable({
            "scrollX": true,
            "scrollY": 300,
            "paging": true,
            "lengthChange": true,
            "iDisplayLength": 25,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
            "autoFill": true,
            "colReorder": true,
        });

        // Set the checkIn Modal
        $("#modal-checkin").on("show.bs.modal", function(e) {
            let assetId = $(e.relatedTarget).attr("data-assetId");
            let asset = $(e.relatedTarget).attr("data-asset");
            let assignedUserId = $(e.relatedTarget).attr("data-assigneduserid") ?? null;
            let assignedUser = $(e.relatedTarget).attr("data-assignedUser");

            document.getElementById("asset_collection_device").setAttribute("value", asset);
            document.getElementById("asset_collection_assetId").setAttribute("value", assetId);
            $("#asset_collection_user").val(assignedUserId).trigger("change");
            document.getElementById("asset_collection_userId").setAttribute("value", assignedUserId);
        });

        $("#modal-checkin").on("hide.bs.modal", function(e) {
           document.getElementById("asset_collection_userId").removeAttribute("value");
        });

        $("#asset_collection_user").select2();
    });
</script>
{% endblock %}
{% block optional_javascript %}{% endblock %}