{% extends 'base.html.twig' %}

{% block body %}
            <div class="dataTables_wrapper dt-bootstrap4 text-center">
                <div class="row text-center">
                    <div class="col-sm-12 text-center">
                        <div class="top-wrapper"></div>
                        <table id="assetTable" class="table table-bordered table-striped table-hover dataTable dtr-inline display" aria-describedby="assetTable_info">
                            <thead>
                                <tr>
                                    <th class="all">Id</th>
                                    <th class="all">Serial Number</th>
                                    <th class="all">Asset Tag</th>
                                    <th class="all">Purchase Date</th>
                                    <th class="all">Purchased From</th>
                                    <th class="all">Warranty Start</th>
                                    <th class="all">Warranty End</th>
                                    <th class="all">Condition</th>
                                    <th class="all">Make</th>
                                    <th class="all">Model</th>
                                    <th class="all">Assigned To</th>
                                    <th class="all">Decommissioned</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in assets %}
                                    <tr>
                                        <td class="text-center align-middle">{{ asset.id }}</td>
                                        <td class="text-center align-middle">{{ asset.serialnumber ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.assettag ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.purchasedate ? asset.purchasedate|date('Y-m-d') : '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.purchasedfrom ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.warrantystartdate ? asset.warrantystartdate|date('Y-m-d') : '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.warrantyenddate ? asset.warrantyenddate|date('Y-m-d') : '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.condition ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.make ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">{{ asset.model ?: '<span class="badge border border-secondary text-secondary">Empty</span>' }}</td>
                                        <td class="text-center align-middle">
                                            {% if asset.assignedTo is not empty %}
                                                <a id="assignAsset" class="link-secondary" type="button" data-toggle="modal" data-target="#modal-assignAsset" data-assetid="{{ asset.id }}">{{ asset.assignedTo }}</a>
                                            {% else %}
                                                <button id="assignAsset" class="btn btn-xs btn-outline-secondary" type="button" data-toggle="modal" data-target="#modal-assignAsset" data-assetid="{{ asset.id }}"><i class="fa-solid fa-user-plus"></i></button>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">{{ asset.decommissioned ? '<span class="badge bg-warning">Yes</span>' : '<span class="badge bg-secondary">No</span>' }}</td>
                                        <td class="text-center align-middle">
                                            <button id="viewAsset" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-viewAsset" data-assetId="{{ asset.id }}" data-serialNumber="{{ asset.serialnumber }}" data-assetTag="{{ asset.assettag }}" data-purchasedFrom="{{ asset.purchasedfrom }}" data-condition="{{ asset.condition }}" data-make="{{ asset.make }}" data-model="{{ asset.model }}" data-purchasedDate="{{ asset.purchasedate ? asset.purchasedate|date('Y-m-d H:i:s') : '' }}" data-warrantyStartDate="{{ asset.warrantystartdate ? asset.warrantystartdate|date('Y-m-d H:i:s') : '' }}" data-warrantyEndDate="{{ asset.warrantyenddate ? asset.warrantyenddate|date('Y-m-d H:i:s') : '' }}" data-decommissioned="{{ asset.decommissioned ? 'Yes' : 'No' }}"><i class="fa-solid fa-magnifying-glass"></i></button>
                                            <a href="{{ path('app_asset_edit', {'id': asset.id}) }}" class="btn btn-secondary btn-sm" role="button"><i class="fa-regular fa-pen-to-square"></i></a>
                                            <button id="assignAsset" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-assignAsset" data-assetid="{{ asset.id }}"><i class="fa-solid fa-user-plus"></i></button>
                                            <a href="{{ path('app_asset_delete', {'id': asset.id, 'csrf': csrf_token('delete' ~ asset.id) }) }}" data-method="POST" type="button" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="bottom-wrapper mt-2 w-100 text-center justify-content-center align-items-center d-flex flex-column"></div>
                    </div>
                </div>
            </div>
            <a href="{{ path('app_asset_new') }}" role="button" class="btn btn-success">Create new</a>


    {# View Asset Modal #}
    <div class="modal fade" id="modal-viewAsset">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View Asset</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div>Asset Tag: <span id="assetTagValue"></span></div>
                        </li>
                        <li class="list-group-item">
                            <div>Serial Number:
                                <span id="serialNumberValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Purchased Date:
                                <span id="purchasedDateValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Purchased From:
                                <span id="purchasedFromValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Warranty Start:
                                <span id="warrantyStartDateValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Warranty End:
                                <span id="warrantyEndDateValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Condition:
                                <span id="conditionValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Make:
                                <span id="makeValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Model:
                                <span id="modelValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Assigned To:
                                <span id="assignedToValue"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>Decommissioned:
                                <span id="decommissionedValue"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# ./viewAssetModal #}
    {# Assign User To Asset Modal #}
    <div class="modal fade" id="modal-assignAsset">
        <div class="modal-dialog modal-md">
            <div class="modal-content text-center">
                <form method="POST" action="{{ path('app_assign_user_to_device') }}">
                    <input id="assignAssetId" type="hidden" name="assetId" value=""/>
                    <div class="modal-header">
                        <h4 class="modal-title">Assign User</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pl-2">
                        {# TODO change this to Select2 #}
                        {# <div class="dropdown hierarchy-select" id="assignUser">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="assignUser-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="assignUser-button">
                                <div class="hs-searchbox">
                                    <input type="text" class="form-control" autocomplete="off" autofocus>
                                </div>
                                <div class="hs-menu-inner">
                                    {% for user in users %}
                                        <a href="#" class="dropdown-item" data-value="{{ user.id }}">{{ user.surname }}, {{ user.firstname }} {% if user.title %}({{ user.title }}){% endif %}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <input type="text" class="d-none" name="userId" readonly="readonly" aria-hidden="true"/>
                        </div> #}
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {# ./assignUserToAssetModal #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}

    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- DataTables  & Plugins -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                paging: true,
                lengthChange: true,
                iDisplayLength: 25,
                searching: true,
                ordering: true,
                columnDefs: [
                    { orderable: false, targets: 12 }
                ],
                info: true,
                autoWidth: true,
                responsive: true,
                colReorder: true,
                scrollY: '67.5vh',
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
                // dom: '<"bottom-wrapper"lfrtip>'
            });

            // Set values of modal body on open
            $("#modal-viewAsset").on("show.bs.modal", function(e) {
                // var assetId = asset.dataset.id;
                let serialNumber = $(e.relatedTarget).attr("data-serialNumber");
                let assetTag = $(e.relatedTarget).attr("data-assetTag");
                let purchasedDate = $(e.relatedTarget).attr("data-purchasedDate");
                let purchasedFrom = $(e.relatedTarget).attr("data-purchasedFrom");
                let warrantyStartDate = $(e.relatedTarget).attr("data-warrantyStartDate");
                let warrantyEndDate = $(e.relatedTarget).attr("data-warrantyEndDate");
                let condition = $(e.relatedTarget).attr("data-condition");
                let make = $(e.relatedTarget).attr("data-make");
                let model = $(e.relatedTarget).attr("data-model");
                let decommissioned = $(e.relatedTarget).attr("data-decommissioned");

                document.getElementById("assetTagValue").textContent = assetTag;
                document.getElementById("serialNumberValue").textContent = serialNumber;
                document.getElementById("purchasedDateValue").textContent = purchasedDate;
                document.getElementById("purchasedFromValue").textContent = purchasedFrom;
                document.getElementById("warrantyStartDateValue").textContent = warrantyStartDate;
                document.getElementById("warrantyEndDateValue").textContent = warrantyEndDate;
                document.getElementById("conditionValue").textContent = condition;
                document.getElementById("makeValue").textContent = make;
                document.getElementById("modelValue").textContent = model;
                document.getElementById("decommissionedValue").textContent = decommissioned;
            });

            $("#modal-assignAsset").on("show.bs.modal", function(e) {
                let assetId = $(e.relatedTarget).attr("data-assetId");
                $("#assignAssetId").val(assetId);
            });

            // Initialize Hierarchy-Select
            // $("#assignUser").hierarchySelect({
            //     hierarchy: true,
            //     search: true,
            //     width: 'auto'
            // });
        });
    </script>
{% endblock %}
