{% extends 'layout.html.twig' %}

{% block title %}Assets{% endblock %}
{% block header_title %}Assets{% endblock %}
{% block header_breadcrumb %}Asset{% endblock %}
{% block body_content %}
    <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <table id="assetTable" class="table table-bordered table-striped dataTable dtr-inline display" aria-describedby="assetTable_info">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Serial Number</th>
                            <th>Asset Tag</th>
                            <th>Purchase Date</th>
                            <th>Purchased From</th>
                            <th>Warranty Start</th>
                            <th>Warranty End</th>
                            <th>Condition</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Decommissioned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in assets %}
                            <tr>
                                <td>{{ asset.id }}</td>
                                <td>{{ asset.serialnumber }}</td>
                                <td>{{ asset.assettag }}</td>
                                <td>{{ asset.purchasedate ? asset.purchasedate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ asset.purchasedfrom }}</td>
                                <td>{{ asset.warrantystartdate ? asset.warrantystartdate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ asset.warrantyenddate ? asset.warrantyenddate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ asset.condition }}</td>
                                <td>{{ asset.make }}</td>
                                <td>{{ asset.model }}</td>
                                <td>{{ asset.decomisioned ? 'Yes' : 'No' }}</td>
                                <td>
                                    {# TODO: Change these to pictures/fa icons #}
{#                                    <a href="{{ path('app_asset_show', {'id': asset.id}) }}" class="btn btn-secondary btn-xs" role="button" aria-label="View Asset {{ asset.assettag }}" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>#}
                                    <button id="viewAsset" class="btn btn-xs btn-secondary" type="button" data-toggle="modal" data-target="#modal-viewAsset" data-assetId="{{ asset.id }}" data-serialNumber="{{ asset.serialnumber }}" data-assetTag="{{ asset.assettag }}" data-purchasedFrom="{{ asset.purchasedfrom }}" data-condition="{{ asset.condition }}" data-make="{{ asset.make }}" data-model="{{ asset.model }}" data-purchasedDate="{{ asset.purchasedate ? asset.purchasedate|date('Y-m-d H:i:s') : '' }}" data-warrantyStartDate="{{ asset.warrantystartdate ? asset.warrantystartdate|date('Y-m-d H:i:s') : '' }}" data-warrantyEndDate="{{ asset.warrantyenddate ? asset.warrantyenddate|date('Y-m-d H:i:s') : '' }}" data-decommissioned="{{ asset.decomisioned ? 'Yes' : 'No' }}"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    <a href="{{ path('app_asset_edit', {'id': asset.id}) }}" class="btn btn-secondary btn-xs" role="button"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="#" class="btn btn-secondary btn-xs" role="button"><i class="fa-solid fa-user-plus"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{{ path('app_asset_new') }}">Create new</a>

    {# View Asset Modal #}
    <div class="modal fade" id="modal-viewAsset">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Extra Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <div>Asset Tag:</div>
                        <div>Serial Number:</div>
                        <div>Purchased Date:</div>
                        <div>Purchased From:</div>
                        <div>Warranty Start:</div>
                        <div>Warranty End:</div>
                        <div>Condition:</div>
                        <div>Make:</div>
                        <div>Model:</div>
                        <div>Decommissioned:</div>
                    </p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block optional_javascript %}{% endblock %}
{% block head_custom_css %}
    <link href="{{ asset('bundles/DataTables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block head_custom_javascript %}
    <!-- DataTables  & Plugins -->
    <script charset="utf8" src="{{ asset('bundles/DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#assetTable').DataTable({
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "paging": true,
                "lengthChange": true,
                "pageLength": 25,
                "searching": true,
                "ordering": true,
                "columnDefs": [
                    { orderable: false, targets: 11 }
                ],
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "autoFill": true,
                "colReorder": true,
            });

            table.buttons().container()
                .appendTo( $('.col-sm-12:eq(0)', table.table().container()));
        });

        document.addEventListener('DOMContentLoaded', function() {
            var asset = document.querySelector('#viewAsset');

            var assetId = asset.dataset.id;
            var serialNumber = asset.dataset.serialNumber
            var assetTag = asset.dataset.assetTag;
            var purchasedDate = asset.dataset.purchasedDate;
            var purchasedFrom = asset.dataset.purchasedFrom;
            var warrantyStartDate = asset.dataset.warrantyStartDate;
            var warrantyEndDate = asset.dataset.warrantyEndDate;
            var condition = asset.dataset.condition;
            var make = asset.dataset.make;
            var model = asset.dataset.model;
            var decommissioned = asset.dataset.decommissioned;
        });
    </script>
{% endblock %}