{% extends 'layout.html.twig' %}
{% block title %}Repairs{% endblock %}
{% block header_breadcrumb %}Repairs{% endblock %}
{% block header_title %}Repairs{% endblock %}
{% block body_content %}
<div class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12">
            <table id="repairTable" class="table table-bordered table-striped dataTable dtr-inline display" style="width:100%;" aria-describedby="repairTable_info">
                <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Created Date</th>
                        <th>Started Date</th>
                        <th>Technician</th>
                        <th>Issue</th>
                        <th>Parts Needed</th>
                        <th>Status</th>
                        <th>Last Modified Date</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for repair in repairs %}
                    <tr>
                        <td>{{ repair.assetUniqueIdentifier }}</td>
                        <td>{{ repair.createdDate ? repair.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ repair.startedDate ? repair.startedDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ repair.technicianId }}</td>
                        <td>{{ repair.issue }}</td>
                        <td>{{ repair.partsNeeded ? repair.partsNeeded|join(', ') : '' }}</td>
                        <td>{{ repair.status }}</td>
                        <td>{{ repair.lastModifiedDate ? repair.lastModifiedDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_repair_show', {'id': repair.id}) }}">show</a>
                            <a href="{{ path('app_repair_edit', {'id': repair.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <a href="{{ path('app_repair_new') }}">Create new</a>
{% endblock %}
{% block head_custom_css %}
    <link href="{{ asset('3rdparty/DataTables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block head_custom_javascript %}
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="{{ asset('3rdparty/hierarchy-select/hierarchy-select.min.js') }}"></script>
    <!-- DataTables  & Plugins -->
    <script charset="utf8" src="{{ asset('3rdparty/DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#repairTable').DataTable({
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "scrollX": true,
                "paging": true,
                "lengthChange": true,
                "iDisplayLength": 25,
                "searching": true,
                "ordering": true,
                "columnDefs": [
                    {orderable: false, targets: 8}
                ],
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "autoFill": true,
                "colReorder": true,
            });

            table.buttons().container()
                .appendTo($('.col-sm-12:eq(0)', table.table().container()));
        });
    </script>
{% endblock %}
{% block optional_javascript %}{% endblock %}