{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="container w-50 card p-4">
        <div class="card-body">
            <div class="card-title mb-3">
                <h3 class="fw-light fw-bold">Repair #{{ repair.id }}</h3>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Repair ID: {{ repair.id }}<br/>
                    Submitted By: {{ submittedBy }}<br/>
                    Submitted On: {{ repair.createdDate|date('Y-m-d h:i') }}<br/>
                    Last Modified Time: {{ repair.lastModifiedDate|date('Y-m-d h:i') }}
                </div>
                <div class="col">
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="form_status" class="input-group-text">Status</label>
                            {{ form_widget(form.status) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        {# TODO Open modal to assign technician #}
                        <span>Assigned Technician: <a href="#" data-bs-toggle="modal" data-bs-target="#assignUserModal"><br />{{ assignedTechnician }}</a></span>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            {{ form_label(form.actionstaken) }}
                            {{ form_widget(form.actionstaken) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(form.issue) }}
                {{ form_widget(form.issue) }}
            </div>
            <div class="row mb-3">
                <label for="form_parts" class="form-label">Select parts:</label>
                {{ form_widget(form.parts) }}
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group" role="group">
                {{ form_widget(form.save) }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {# Assign User Modal #}
    {{ form_start(assignTechnicianForm) }}
    <div id="assignUserModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {{ form_widget(assignTechnicianForm.assignatechnician) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(assignTechnicianForm.assigntechnicianbutton) }}
                    {% if assignTechnicianForm.unassigntechnicianbutton is defined %}
                        {{ form_widget(assignTechnicianForm.unassigntechnicianbutton) }}
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(assignTechnicianForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form_assignatechnician").select2({
                placeholder: 'Assign a Technician',
                width: 'resolve',
                theme: 'bootstrap-5',
            });
        });
    </script>
{% endblock %}
