<div id="slot-{{ slot }}" class="col-sm p-0 storageCell">
    <a href="javascript:void(0);" class="text-decoration-none my-asset-collection-btn" role="button" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ slot }}" id="href-slot-{{ slot }}">
        <span data-bs-toggle="modal" data-bs-target="#modal-checkin" data-slot="{{ slot }}" id="slotNumber-{{ slot }}">{{ slot }}</span>
    </a>
</div>
<div class="col-sm"></div>
