{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% if app.user %}
        <div class="card">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card-header">
                <span class="card-title">
                    <img src="{{ app.user.avatar }}" class="bg-info rounded-circle me-1" style="width:3%;" alt="User Image">
                    {{ app.user.firstname }} {{ app.user.surname }} :: User Profile
                </span>
            </div>
            <div class="card-body">
                {{ form(userProfileForm) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
