{% extends 'layout.html.twig' %}

{% block title %}User Profile{% endblock %}
{% block header_title %}{{ app.user.firstname }} {{ app.user.surname }} Profile{% endblock %}
{% block header_breadcrumb %}User Profile{% endblock %}
{% block body_content %}
    {% if app.user %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(userProfileForm) }}
    {% endif %}
{% endblock %}
{% block optional_javascript %}{% endblock %}