<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charget="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asset Management Installation</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <main>
            <div class="container mt-5">
                <h1 class="mb-4">Asset Management Installer</h1>
                {{ form(install_form) }}
            </div>
        </main>
        <section>
{#            {{ secretGenOutput }}#}
{#            {{ assetInstallOutput }}#}
        </section>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
