<div class="container me-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">Asset Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="list-unstyled ps-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDistribution" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="nav-icon fas fa-arrow-right-from-bracket"></i>
                            Distribution
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDistribution">
                            <li>
                                <a href="{{ path('app_asset_distribution') }}" class="dropdown-item">
                                    <i class="far fa-circle nav-icon"></i>
                                    Distribute
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_asset_distribution_roulette') }}" class="dropdown-item">
                                    <i class="far fa-circle nav-icon"></i>
                                    Roulette
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAssetStorage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="nav-icon fas fa-th"></i>
                            Storages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarAssetStorage">
                            {{ render(controller(
                                'App\\Controller\\AssetStorageController::renderNav'
                            )) }}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_asset_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-cubes"></i>
                            Assets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_repair_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-toolbox"></i>
                            Repairs
                        </a>
                    </a>
                    <li class="nav-item">
                        <a href="{{ path('app_report_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-file-lines"></i>
                            Reports
                        </a>
                    </li>
                </ul>
            </div>
        </div>
            {# <div class="container">
                <span class="navbar-text">
                    {% if app.user %}
                        <div class="">
                            <div class="image">
                                <img src="{{ app.user.avatar }}" style="width:40px;" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="{{ path('app_user_profile') }}" class="d-block text-decoration-none">{{ app.user.firstname }} {{ app.user.surname }}</a>
                            </div>
                        </div>
                    {% endif %}
                </span>
            </div> #}
    </nav>
</div>
