{% extends 'layout.html.twig' %}
{% block title %}Asset Distribution{% endblock %}
{% block header_title %}Distribution{% endblock %}
{% block header_breadcrumb %}Distribution{% endblock %}
{% block body_content %}
    <div class="dataTables_wrapper dt-bootstrap4 container-fluid">
        <table id="assetTable" class="table table-bordered table-hover table-striped dataTable" aria-describedby="assetTable_info" style="width:100%;">
            <thead>
            <tr>
                <th class="all">Location</th>
                <th class="all">Asset Tag</th>
                <th class="all">Serial Number</th>
                <th class="all">Last Name</th>
                <th class="all">First Name</th>
                <th class="all" id="notesColumn">Notes</th>
                <th class="all">Distribute</th>
            </tr>
            </thead>
            <tbody>
                {% for asset in collectedAssets %}
                    <tr{% if asset.sentToDistribution is defined %} class="sentToDistribution"{% endif %}>
                        <form method="post" action="{{ path('app_distribute_handle') }}">
                            <input type="hidden" name="assetId" value="{{ asset.id }}" />
                            <input type="hidden" name="userId" value="{{ asset.userId }}" />
                            <input type="hidden" name="location" value="{{ asset.location }}" />
                            <td class="text-center">{{ asset.location }}</td>
                            <td class="text-center">{{ asset.assetTag }}</td>
                            <td class="text-center">{{ asset.serialNumber }}</td>
                            <td class="text-center">{{ asset.userSurname }}</td>
                            <td class="text-center">{{ asset.userFirstName }}</td>
                            <td class="text-center">
                                <div id="button-wrapper">
                                    <a role="button" data-toggle="collapse" data-target="#note-field-{{ asset.id }}" id="button" class="btn btn-outline-light{% if asset.sentToDistribution is defined %} disabled{% endif %}">Set a note</a>
                                </div>
                                <div id="note-field-{{ asset.id }}" class="collapse note-field" style="width:240px;">
                                    <input type="text" id="notes" name="note" class="form-control" />
                                </div>
                            </td>
                            <td class="text-center"><button type="submit" class="btn btn-outline-secondary{% if asset.sentToDistribution is defined %} disabled{% endif %}">Distribute</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br />
        <a href="{{ path('app_distribute_revoke') }}">Revoke a distribution</a>
    </div>
{% endblock %}
{% block head_custom_css %}
    <link href="{{ asset('bundles/DataTables/datatables.min.css') }}" rel="stylesheet"/>
    <style>
        .sentToDistribution {
            background-color: #ff9c9c !important;
        }
    </style>
{% endblock %}
{% block head_custom_javascript %}
    <script charset="utf8" src="{{ asset('bundles/DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                "scrollX": true,
                "paging": true,
                "lengthChange": true,
                "iDisplayLength": 25,
                "searching": true,
                "ordering": true,
                "columnDefs": [
                    {orderable: false, targets: 6}
                ],
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "autoFill": true,
                "colReorder": true,
            });

            $('.dataTables_filter input[type="search"]').css(
                {'width': '350px', 'display': 'inline-block'}
            );

            $('.dataTables_filter input[type="search"]').
                attr('placeholder', 'Search assets ....').
                css({'width': '350px', 'display': 'inline-block'});

            $('button.disabled').attr('disabled', true);

            $('#button-wrapper a').click(function() {
                $(this).hide();
            })

            // TODO: Change back to button when unfocused
            // $('#button-wrapper a').focusout(function() {
            //     $('.note-field').collapse();
            //     $(this).show();
            // })
        });
    </script>
{% endblock %}
{% block optional_javascript %}{% endblock %}