{% extends 'base.html.twig' %}

{% block body %}
    {# Checkout buttons #}
    <a href="{{ path('app_asset_distribution') }}" class="btn btn-app">
        <i class="fas fa-right-from-bracket"></i>
        Distribute Asset
    </a>
    <a href="{{ path('app_distribute_revoke') }}" class="btn btn-app">
        <i class="fas fa-rectangle-list"></i>
        Distribution History/Revoke
    </a>
    <a href="{{ path('app_asset_distribution_roulette') }}" class="btn btn-app">
        <i class="fas fa-diagram-next"></i>
        Roulette
    </a>
    {# End checkout buttons #}

    <div class="dataTables_wrapper dt-bootstrap5 container-fluid">
        <table id="assetTable" class="table table-bordered table-hover table-striped dataTable" aria-describedby="assetTable_info" style="width:100%;">
            <thead>
            <tr>
                <th class="all">Location</th>
                <th class="all">Distributed At</th>
                <th class="all">Distributed By</th>
                <th class="all">Asset Tag</th>
                <th class="all">S/N</th>
                <th class="all">User ID</th>
                <th class="all">Last Name</th>
                <th class="all">First Name</th>
                <th class="all" id="notesColumn">Notes</th>
                <th class="all">Revoke</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                <tr{% if asset.sentToDistribution is defined %} class="sentToDistribution"{% endif %}>
                    <form method="post" action="{{ path('app_distribute_revoke_id') }}">
                        <input type="hidden" name="distributionId" value="{{ asset.id }}" />
                        <td class="text-center">{{ asset.location }}</td>
                        <td class="text-center">{{ asset.distributedAt|date('Y-m-d H:i') }}</td>
                        <td class="text-center">{{ asset.distributedBySurname }}, {{ asset.distributedByFirstName }}</td>
                        <td class="text-center">{{ asset.assetTag }}</td>
                        <td class="text-center">{{ asset.serialNumber }}</td>
                        <td class="text-center">{{ asset.userUniqueIdentifier }}</td>
                        <td class="text-center">{{ asset.userSurname }}</td>
                        <td class="text-center">{{ asset.userFirstName }}</td>
                        <td class="text-center">{{ asset.notes }}</td>
                        <td class="text-center align-middle"><button type="submit" class="btn btn-sm btn-outline-secondary">Revoke</button></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .sentToDistribution {
            background-color: #ff9c9c !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                scrollX: '100vw',
                scrollCollapse: true,
                scrollY: '68vh',
                paging: true,
                pagingType: "numbers",
                lengthChange: true,
                iDisplayLength: 25,
                searching: true,
                ordering: true,
                processing: true,
                columnDefs: [
                    {orderable: false, targets: 6}
                ],
                info: true,
                autoWidth: true,
                responsive: true,
                autoFill: true,
                stateSave: true,
                colReorder: true,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
            });

            $('.dataTables_filter input[type="search"]').css(
                {'width': '350px', 'display': 'inline-block'}
            );

            $('.dataTables_filter input[type="search"]').
            attr('placeholder', 'Search assets ....').
            css({'width': '350px', 'display': 'inline-block'});

        });
    </script>
{% endblock %}
{% block optional_javascript %}{% endblock %}
