{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# Checkout buttons #}
        <div class="mb-4 bg-dark rounded p-1 border">
            <a href="{{ path('app_asset_distribution') }}" class="btn btn-app">
                <i class="fas fa-right-from-bracket"></i>
                Distribute Asset
            </a>
            <a href="{{ path('app_distribute_revoke') }}" class="btn btn-app">
                <i class="fas fa-rectangle-list"></i>
                Distribution History/Revoke
            </a>
            <a href="{{ path('app_asset_distribution_roulette') }}" class="btn btn-app">
                <i class="fas fa-diagram-next"></i>
                Roulette
            </a>
        </div>
        {# End checkout buttons #}
        <div id="rouletteWrapper">
            <ul class="list-group text-center">
                {% if assets|length > 0 %}
                    {% for asset in assets %}
                        <li class="list-group-item">
                            {% if loop.first %}
                                <h1><a href="{{ path('app_distribute_clear', {'id': asset.id}) }}">{{ asset.location ?: 'No Location' }}</a></h1>
                            {% else %}
                                <h4><a href="{{ path('app_distribute_clear', {'id': asset.id}) }}">{{ asset.location ?: 'No Location' }}</a></h4>
                            {% endif %}
                            {{ asset.assettag }}<br />
                            {{ asset.userSurname }}, {{ asset.userFirstName }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        There are no assets distributed
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            let timeout = setInterval(reloadRouletteWrapper, 2000);
            function reloadRouletteWrapper() {
                $('#rouletteWrapper').load(window.location.href + " #rouletteWrapper");
            }
        });
    </script>
{% endblock %}
