{{ form_start(form) }}
    <div class="mb-3 form-floating">
        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Container Name' } }) }}
        {{ form_label(form.name) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description' } }) }}
        {{ form_label(form.description) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.location, { 'attr': {'class': 'form-control', 'placeholder': 'Location' } }) }}
        {{ form_label(form.location) }}
    </div>
    <div class="mb-3 form-floating">
        {{ form_widget(form.storageData, { 'attr': {'class': 'form-control', 'rows': 10, 'style': 'height:100%;', 'placeholder': 'Storage JSON String' } }) }}
        {{ form_label(form.storageData) }}
        <div><a href="#">Upload CSV</a></div>
    </div>
    <div class="row" role="buttons">
        <div class="col text-start">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
        <div class="col text-end">
            {% if app.request.attributes.get('_route') == 'app_asset_storage_edit' %}
                {% include 'asset_storage/_delete_form.html.twig' %}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
