{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Storages</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Name</th>
                            <th class="align-middle text-center">Description</th>
                            <th class="align-middle text-center">Location</th>
                            <th class="align-middle text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset_storage in asset_storages %}
                            <tr>
                                <td class="align-middle text-center">
                                    <a href="{{ path('app_asset_storage_show', {'id': asset_storage.id}) }}" class="text-decoration-none">{{ asset_storage.name }}</a>
                                    <small>(Id: {{ asset_storage.id }})</small>
                                </td>
                                <td class="align-middle text-center">{{ asset_storage.description }}</td>
                                <td class="align-middle text-center">{{ asset_storage.location }}</td>
                                <td class="align-middle text-center">
                                    <a href="{{ path('app_asset_storage_show', {'id': asset_storage.id}) }}" role="button" class="btn btn-sm btn-secondary">Go to</a>
                                    <a href="{{ path('app_asset_storage_edit', {'id': asset_storage.id}) }}" role="button" class="btn btn-sm btn-warning">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ path('app_asset_storage_new') }}" role="button" class="btn btn-success">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
