{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
{#                <th>StorageData</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset_storage in asset_storages %}
            <tr>
                <td>{{ asset_storage.id }}</td>
                <td>{{ asset_storage.name }}</td>
                <td>{{ asset_storage.description }}</td>
                <td>{{ asset_storage.location }}</td>
{#                <td>{{ asset_storage.storageData ? asset_storage.storageData|json_encode : '' }}</td>#}
                <td>
                    <a href="{{ path('app_asset_storage_show', {'id': asset_storage.id}) }}">show</a>
                    <a href="{{ path('app_asset_storage_edit', {'id': asset_storage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asset_storage_new') }}">Create new</a>
{% endblock %}
