{% extends 'layout.html.twig' %}
{% block title %}Storage{% endblock %}
{% block header_breadcrumb %}Storage{% endblock %}
{% block header_title %}Storage {{ assetStorage.name }} ({{ assetStorage.description }}){% endblock %}
{% block body_content %}
    <h4>Located at: {{ assetStorage.location }}</h4>
    <div class="row">
        {{ storageRender|raw }}
    </div>
    <div class="container-fluid">
        <p class="text-right">
            {% for counts in storageCounts %}
                 <strong>{{ counts.collected }}</strong> / {{ counts.total }}
            {% endfor %}
        </p>
    </div>
    {% set assignedSlots = [] %}
    {% set assignedSlotsInfo = [] %}
    {% for collectedAsset in collectedAssets %}
        {% set assignedSlots = assignedSlots|merge([collectedAsset.slot]) %}
        {% set assignedSlotsInfo = assignedSlotsInfo|merge([{
            user: collectedAsset.user,
            slot: collectedAsset.slot,
            asset: collectedAsset.asset,
            note: collectedAsset.note,
            checkedOut: collectedAsset.checkedOut,
            processed: collectedAsset.processed
        }]) %}
    {% endfor %}
    <div class="js-assignedSlots" data-assignedSlots="{{ assignedSlots|json_encode }}"></div>
    <div class="js-assignedSlotsInfo" data-assignedSlotsInfo="{{ assignedSlotsInfo|json_encode }}"></div>

    {# View Asset Modal #}
    <div class="modal fade" tabindex="-1" id="modal-checkin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {{ form_start(form, { 'attr': { 'class': 'form-floating' } }) }}
                    <input id="assignAssetId" type="hidden" name="assetId" value=""/>
                    <div class="modal-header">
                        <h4 class="modal-title">Assign User</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pl-2">
                        <div class="row">
                            <div class="col">
                                <div class="form-group form-floating">
                                    {{ form_widget(form.device, { 'attr': { 'tabindex': 1 }}) }}
                                    {{ form_label(form.device, 'Asset') }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group form-floating">
                                    {{ form_widget(form.location) }}
                                    {{ form_label(form.location, 'Location') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.user, 'Collected From') }}
                            {{ form_widget(form.user, { 'attr': {'style': 'width:260px', 'tabindex': 2 }}) }}
                        </div>
                        <div class="input-group">
                            {# Needs Repair #}
                            {{ form_widget(form.needsrepair, { 'attr': { 'class': 'btn-check'} }) }}
                            <label for="asset_collection_needsrepair" class="btn btn-outline-secondary">Needs Repair</label>
                            {# Check Out #}
                            {{ form_widget(form.checkout, { 'attr': { 'class': 'btn-check'} }) }}
                            <label for="asset_collection_checkout" class="btn btn-outline-secondary">Check Out</label>
                            {# Processed #}
                            {{ form_widget(form.processed, { 'attr': { 'class': 'btn-check'} }) }}
                            <label for="asset_collection_processed" class="btn btn-outline-secondary">Processed</label>
                        </div>
                        <div class="input-group my-2" id="partsNeeded">
                            {% for part in repairParts %}
                                <div class="form-check form-check-inline">
                                    <input id="{{ part.name }}" type="checkbox" class="form-check-input" value="{{ part.value }}" name="{{ part.name }}">
                                    <label for="{{ part.name }}" class="form-check-label">{{ part.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input-group form-floating mt-sm-2">
                            {{ form_widget(form.notes, { 'placeholder': 'Leave notes here', 'attr': { 'tabindex': 3 } }) }}
                            {{ form_label(form.notes) }}
                        </div>
                        {{ form_widget(form.userId) }}
                        {{ form_widget(form.assetId) }}
                    </div>
                    <div class="modal-footer justify-content-between">
{#                        <button type="button" class="btn" data-dismiss="modal">Close</button>#}
                        {{ form_widget(form.Collect, {'label': 'Update', 'attr': { 'tabindex': 4, 'class': 'btn btn-outline-success'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {# ./viewAssetModal #}
{% endblock %}

{% block head_custom_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

    <style>
        .cellOccupied {
            background-color: {{ colors.cellOccupied }}
        }
        
        .cellCheckedOut {
            background-color: {{ colors.cellCheckedOut }}
        }
        
        .cellProcessed {
            background-color: {{ colors.cellProcessed }};
        }
    </style>
{% endblock %}
{#{% block jquery_js %}#}
{#    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>#}
{#{% endblock %}#}
{% block bootstrap_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block head_custom_javascript %}
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Parts needed hide/show
            let partsNeededDiv = $("#partsNeeded")
            let partsNeededTrigger = $("#asset_collection_needsrepair");

            partsNeededDiv.hide();

            partsNeededTrigger.on("click", function() {
                if ($(this).is(':checked')) {
                    partsNeededDiv.show();
                } else {
                    partsNeededDiv.hide();
                }
            });

            // Set the checkIn Modal
            $("#modal-checkin").on("show.bs.modal", function(e) {
                let storageSlot = $(e.relatedTarget).attr("data-slot");
                let asset = $(e.relatedTarget).attr("data-asset") ?? '';
                let assignedUserId = $(e.relatedTarget).attr("data-user") ?? null;
                let note = $(e.relatedTarget).attr("data-note") ?? '';

                setTimeout(function() {
                    $("#asset_collection_device").focus();
                }, 600);

                document.getElementById("asset_collection_device").setAttribute("value", asset);
                document.getElementById("asset_collection_notes").innerText = note;
                $("#asset_collection_user").val(assignedUserId).trigger("change");
                document.getElementById("asset_collection_userId").setAttribute("value", assignedUserId);
                document.getElementById("asset_collection_location").setAttribute("value", storageSlot);
            });

            $("#modal-checkin").on("hide.bs.modal", function(e) {
                document.getElementById("asset_collection_userId").removeAttribute("value");
            });

            // Start select2
            $("#asset_collection_user").select2({
                placeholder: 'Select a user',
                width: 'resolve',
                theme: 'bootstrap-5',
            });

            // Populate cells that are assigned
            const assignedSlots = JSON.parse($(".js-assignedSlots").attr("data-assignedSlots"));
            const assignedSlotsInfo = JSON.parse($(".js-assignedSlotsInfo").attr("data-assignedSlotsInfo"));

            $("div[id='row']").children('.col').each(function() {
                if (assignedSlots.includes($(this).attr('id').replace('slot-', ''))) {
                    $(this).addClass('cellOccupied');
                    var i;
                    for (i = 0; i < assignedSlotsInfo.length; ++i) {
                        if (assignedSlotsInfo[i]['slot'] === $(this).attr('id').replace('slot-', '')) {
                            if (assignedSlotsInfo[i]['checkedOut']) {
                                $("#asset_collection_checkout").attr('checked', 'checked');
                                $(this).addClass('cellCheckedOut')
                            }
                            if (assignedSlotsInfo[i]['processed']) {
                                $("#asset_collection_processed").attr('checked', 'checked');
                                $(this).addClass('cellProcessed')
                            }
                        }
                    }
                    $(this).children('a').each(function() {
                        for (i = 0; i < assignedSlotsInfo.length; ++i) {
                            if (assignedSlotsInfo[i]['slot'] === $(this).attr('data-slot')) {
                                $(this).attr('data-asset', assignedSlotsInfo[i]['asset']);
                                $(this).attr('data-user', assignedSlotsInfo[i]['user']);
                                $(this).attr('data-note', assignedSlotsInfo[i]['note']);
                                $(this).attr('data-checkedout', assignedSlotsInfo[i]['checkedout']);
                                $(this).attr('data-processed', assignedSlotsInfo[i]['processed']);
                            }
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}
{% block optional_javascript %}{% endblock %}