{% extends 'base.html.twig' %}

{% block body %}
    <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <table id="assetTable" class="table table-bordered table-striped dataTable dtr-inline display w-100" aria-describedby="assetTable_info">
                    <thead>
                    <tr>
                        <th class="all">Storage</th>
                        <th class="all">Collected</th>
                        <th class="all">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in reportData %}
                        <tr>
                            <td class="text-center">{{ key }}</td>
                            <td class="text-center">{{ value.collected }}</td>
                            <td class="text-center">{{ value.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}

    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- DataTables  & Plugins -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "scrollX": true,
                "paging": true,
                "lengthChange": true,
                "iDisplayLength": 25,
                "searching": true,
                "ordering": true,
                "columnDefs": [
                    {orderable: false, targets: 2}
                ],
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "autoFill": true,
                "colReorder": true,
            });
        });
    </script>
{% endblock %}
