{% extends 'base.html.twig' %}

{% block body %}
    <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <table id="assetTable" class="table table-bordered table-striped dataTable dtr-inline display" aria-describedby="assetTable_info">
                    <thead>
                    <tr>
                        <th class="all">Asset Tag</th>
                        <th class="all">Serial Number</th>
                        <th class="all">Collected From</th>
                        <th class="all">Email</th>
                        <th class="all">Collected Unique ID</th>
{#                        <th class="all">Type</th>#}
                        <th class="all">Assigned Person</th>
                        <th class="all">Assigned Email</th>
                        <th class="all">Assigned Unique ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in reportData %}
                        <tr>
                            <td class="text-center">{{ row.collectedDeviceAssetTag }}</td>
                            <td class="text-center">{{ row.collectedDeviceSerialNumber }}</td>
                            <td class="text-center">{{ row.collectedFromSurName }}, {{ row.collectedFromFirstName }}</td>
                            <td class="text-center">{{ row.collectedFromEmail }}</td>
                            <td class="text-center">{{ row.collectedFromUniqueId }}</td>
{#                            <td class="text-center">{{ row.collectedFromType }}</td>#}
                            <td class="text-center">{% if row.assignedToSurName is defined %}{{ row.assignedToSurName }}, {{ row.assignedToSurName }}{% endif %}</td>
                            <td class="text-center">{% if row.assignedToEmail is defined %}{{ row.assignedToEmail }}{% endif %}</td>
                            <td class="text-center">{% if row.assignedToUniqueId is defined %}{{ row.assignedToUniqueId }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('bundles/DataTables/datatables.min.css') }}" rel="stylesheet"/> #}
    {# <link href="{{ asset('bundles/hierarchy-select/hierarchy-select.min.css') }}" rel="stylesheet"/> #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    {# <script src="{{ asset('bundles/hierarchy-select/hierarchy-select.min.js') }}"></script> #}
    <!-- DataTables  & Plugins -->
    {{ encore_entry_script_tags('datatables') }}
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
                scrollX: true,
                paging: true,
                lengthChange: true,
                iDisplayLength: 25,
                searching: true,
                ordering: true,
                columnDefs: [
                    {orderable: false, targets: 7}
                ],
                info: true,
                autoWidth: true,
                responsive: true,
                autoFill: true,
                colReorder: true,
            });
        });
    </script>
{% endblock %}
