{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="display-5">Built-In Reports</span>
            </li>
            {% for systemReport in systemReports %}
                    <li class="list-group-item">
                        <a href="{{ path(systemReport.route) }}" class="text-decoration-none"><strong>{{ systemReport.title }}</strong></a>
                        {{ systemReport.description }}
                    </li>
            {% endfor %}
        </ul>
        {% if customReports is defined and customReports|length > 0 %}
            <ul class="list-group mt-5">
                <li class="list-group-item">
                    <span class="display-5">Built-In Reports</span>
                </li>
                {% for customReport in customReports %}
                    <li class="list-group-item">
                        <a href="{{ path(customReport.route) }}" class="text-decoration-none"><strong>{{ customReport.title }}</strong></a>
                        {{ customReport.description }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
