{% extends 'base.html.twig' %}

{% block body %}
    <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row mb-4">
            <div class="col-xs-3 col-md-3 form-floating">
                <label for="chooseUserType">Choose a type of user to report on.</label>
                <select name="chooseUserType" id="chooseUserType" class="form-control" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
                    <option value="" selected disabled>Choose a User Type</option>
                    <option value="{{ path('app_report_usersnotcollected', { userType: 'Student' }) }}">Student</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="assetTable" class="table table-bordered table-striped dataTable dtr-inline display w-100" aria-describedby="assetTable_info">
                    <thead>
                    <tr>
                        <th class="all">Last Name</th>
                        <th class="all">First Name</th>
                        <th class="all">Title</th>
                        <th class="all">Email</th>
                        <th class="all">Unique ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in reportData %}
                        <tr>
                            <td class="text-center">{{ row.surName }}</td>
                            <td class="text-center">{{ row.firstName }}</td>
                            <td class="text-center">{{ row.title }}</td>
                            <td class="text-center">{{ row.email }}</td>
                            <td class="text-center">{{ row.uniqueId }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}

    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- DataTables  & Plugins -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Set the DataTable
            var table = $('#assetTable').DataTable({
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "scrollX": true,
                "paging": true,
                "lengthChange": true,
                "iDisplayLength": 10,
                "searching": true,
                "ordering": true,
                "columnDefs": [
                    {orderable: false, targets: 4}
                ],
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "autoFill": true,
                "colReorder": true,
            });
        });
    </script>
{% endblock %}
{% block optional_javascript %}{% endblock %}
